@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <style>
        body {
            border-radius: 40px;
            color: rbg(91,91,91);
            background-color: black;
            font-family: Verdana, Geneva, sans-serif;
        }

        h1 {
            color: white;
            background-color: rgb(153,0,153);
            letter-spacing: 0.2em;
            font-size: 1.8em;
        }
      p {
          color: white;
            margin-bottom: 15px;
            margin: 10px 100px 10px 100px;

      }
       li {
          color: white;
      }

      img{
            border: 5px solid #990099;
            width: 100%;
            height: auto%;
            border-radius: 8px;
            transform: scale(1) rotate(0deg);
            transition: all .5s linear;
         

        }

      

       
    </style>

    <body>

    <h1>MR. Clean</h1>

        <img src="../Images/Mrclean.jpeg" alt="" width="600" height="300" />

    <p>
            <strong><em>Mr. Clean</em> </strong>is a well-known brand of household cleaning products that has been a staple in many households for generations.
        The brand's iconic mascot, also known as "The Man in White," is instantly recognizable with his bald head, white shirt, and gold hoop earring.
        Mr. Clean products are known for their ability to clean tough stains and dirt, leaving surfaces sparkling clean and smelling fresh. Whether you're cleaning your kitchen, bathroom, or any other room in your home,
        Mr. Clean offers a wide range of products to help you get the job done. From all-purpose cleaners to floor cleaners and magic erasers, Mr. Clean has a solution for all your cleaning needs. With its reliable and effective products,
        Mr. Clean has become a trusted name in household cleaning, helping people keep their homes clean and tidy for over half a century.
    </p>

    <h1>Information about MR. Clean</h1>
        <img src="../Images/Mrclean1.jpg" alt="" width="600" height="500" />
        <p>

            <li>Visit Mr. Clean's official website: The company's website may have information on its branch locations. You can use the website's store locator tool to find the nearest store in your area.</li>

            <li>Contact Mr. Clean's customer service: You can also contact Mr. Clean's customer service to inquire about branch locations. They may be able to provide you with the information you need.</li>

            <li> Use a search engine: You can use a search engine such as Google or Bing to search for Mr.Clean's branch locations. Just enter your location and the term "Mr. Clean branches" in the search bar to get a list of possible locations.</li>

        </p>



    </body>
}
