@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1{
        color:white;
        float: centre;
        font-family: Verdana, Geneva, sans-serif;

    }


</style>


<h1><strong>Spunges</strong> </h1>
 <img src="../Images/download.jpeg" alt="" width="900 " height="500" />